/* Shared styles */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.text-gary {
    color: rgba(19, 19, 24, 0.70);
}

.text-primary {
    color: #FF5400;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FF5400;;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 35px;
}

.title-font{
    font-size: 2.5rem;
    font-weight: 800;
}

/* header section */
header {
    padding: 10px 135px;
}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav div {
    display: flex ;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-weight: 800;
}

nav  ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.dropdown-hide {
    display: none;
}


main {
    max-width: 1440px;
    margin: 20px auto;
}


/* banner section */
.banner-container {
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 30%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    padding-bottom: 200px;
    margin: 50px 135px;
}

.banner-title {
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
    padding: 40px;
}

.banner-desrip{
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    color: #FFF;
    padding: 0px 247px 24px;
}

.search-container {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.search-container input {
    background: url('../images/Frame.svg') #FFF;
    background-repeat: no-repeat;
    background-position: 230px;
    border-radius: 8px;
    border: none;
    padding: 15px 35px;

}

.find-btn {
    background: url('../images/Frame\ \(copy\).svg') #FF5400;
    background-repeat: no-repeat;
    background-position: 10px;
}


/* tour section */
.tours-container {
    display: flex;
    justify-content: center;
    margin: 40px 135px;
}

.tours-section {
    padding: 30px;
}

.tours-title {
    font-weight: 800;
    font-size: 2.5rem;
}

.tours-descrip {
    font-weight: 400;
    font-size: 1rem;
}

.tours-img {
    max-width: 100%;
    height: auto;
}

/* destinaion section */
.destination-container{
    text-align: center;
    margin: 100px 135px;
}

.row1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    gap: 5px;
}

.row2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    gap: 5px;
}

.row3 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    gap: 5px;
}


.text-position {
    position: relative;
    color: #FFF;
    text-align: center;
    top: 200px;
    font-weight: 800;
    font-size: 1.75rem;
}


/* Why Choose section */
.why-choose-container{
    margin: 150px 135px;
    
}

.why-choose-container-section h3 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.why-choose-container-section p {
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px;
    position: relative;
    left: 300px;
    
}


/* Perfect Place section */
.pp-section {
    margin: 150px 135px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.pp-section div h4 {
    position: relative;
    color: #FFF;
    top: 250px;
    text-align: center;
    
}

/* Newsletter section */

.newsletter-container {
    margin: 150px 135px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
    border-radius: 8px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.newsletter-content input {
    background: rgba(19, 19, 24, 0.05);
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.save-up-to-70{
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    width: 324px;
    height: 120px;
    padding: 10px;
    top: -200px;
    left: 300px;
    text-align: center;
    position: relative;
    transform: rotate(-19.628deg);
}

footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
}

footer > hr {
    background: rgba(19, 19, 24, 0.10);
}

.footer-copy {
    display: block;
    padding: 30px 200px;
}

.footer-copy p, .footer-copy img {
    padding-bottom: 30px;
}
.footer-copy small p {
    padding-top: 60px;
}


/* responsive web layout styles */

@media screen and (max-width: 600px) {
    .responsive {
        width: 100%;
        height: auto;
    }

    header {
        padding-bottom: 50px;
    }
    .logo-title {
        position: relative;
        left: -100px;
    }
    .nav-title {
        display: inline;
        justify-items: center;
        font-size: 20px;
        padding-right: 100px;
    }

    .nav-hide {
        display: none;
    }

    .dropdown-hide {
        display: block;
    }

    nav li .dropdown {
        display: none;
        position: absolute;
        background-color: #FFF;
        padding-left: 10px;
        /* justify-content: space-between; */
    }
    
    nav li:hover > .dropdown {
        display: block;
    }

    .banner-container {
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .banner-title {
        font-size: 1.5rem;
        padding: 30px;
    }

    .banner-desrip {
        padding: 0px;
    }

    .search-container {
        flex-direction: column;
    }

    .tours-container {
        flex-direction: column;
        margin: 0px;
        /* padding: 0px; */
       
    }
    .tours-title {
        padding: 0px;
    }

    .tours-img {
        /* width: 100%;
        height: auto; */
        /* margin-bottom: 50px; */
    }

    .destination-container {
        margin: 0px;
    }

    .row1, .row2, .row3 {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .why-choose-container {
        margin: 0px;
    }

    .why-choose-container-card {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .pp-section {
        flex-direction: column;
        margin: 0px;

    }

    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card3 {
        /* position: relative; */
        left: 0px;
    }

    .why-choose-container-card {
        width: 100%;
    }

    .newsletter-container {
        /* flex-direction: column; */
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: 0px;
    }

    .newsletter-content {
        width: 430px;
        height: auto;
    }
    /* .pp-section-img {
        width: 335px;
        height: 300px;
    } */
    .save-up-to-70{
        top: -220px;
        left: 140px;
        width: 300px;
        height: 100px;
    }

    .footer-copy {
        padding: 30px;
    }
    
}